body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    min-height: 100vh;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;

}
.summaryContainer{
    position: absolute;
    width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 1.8rem;
}

h3, p{
    font-family: 'Red Hat Display', sans-serif;
    margin: 10px 5px 1px
}

.hero{
    width: 450px;
    border-top-left-radius:1.8rem;
    border-top-right-radius:1.8rem;   
}

.annualBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
    width: 380px;
    height: 110px;
    
}

.image img{
    position: relative;
    margin: 20px 10px 10px 20px;

}

h2{
    color:hsl(223, 47%, 23%);
    margin-top: 60px;
    font-size: 30px;
    font-weight: 900;
}

p{
    position: relative;
    color:hsl(224, 23%, 55%);
    margin-top: 10px;
    font-weight: 500;
  }

  .changeBox{
      color:hsl(245, 75%, 52%);
      font-size: 17px;
      font-weight: 700;
  }

  .changeBox:hover{
      color: hsl(223, 47%, 23%);
      transition: 1s ease-in-out;
  }



.btn1{
    position: relative;
    margin-top: 30px;
    padding: 10px 10px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    width: 380px;
    border-radius: 10px;
    border-style: none;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}


.btn1:hover{
    background-color: hsl(223, 47%, 23%);
    cursor: pointer;
    transition: 1s ease-in-out;
}

.cancel{
    position: relative;
    margin-top: 30px;
    font-size: 20px;
    color:  hsl(224, 23%, 55%);
    font-weight: 700;
}
.cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
    transition: 1s ease-in-out;
}

.summaryPara{
    margin-left: 60px;
    margin-right: 70px;
}

.planInfo h3{
    position: relative;
    padding-top: 30px;
    padding-right: 80px;
    color: hsl(223, 47%, 23%);
    font-size: 20px;
    font-weight: 700;
    
}

.img #icon{
    position: relative;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.planInfo p{
    position: relative;
    padding-right: 5rem;
    padding-bottom: 2rem;
    font-size: 20px;
    font-weight: 500;   
}

.attribution{
    position: relative;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
}


    
